{% extends 'tienda/base.html' %}
{% load static %}

{% block contenido %}
<!-- catalogo -->

<section class="catalogo" id="catalogo">
    {% load humanize %}
    <h1 class="heading"> nuestros <span> productos </span> </h1>

    <div class="box-container">

        {% for p in productos %}
        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                {% if p.imagen %}
                <img src="{{ p.imagen.url }}" alt="">
                {% endif %}
            </div>
            <div class="content">
                <h3>{{ p.nombre_prod }}</h3>
                <div class="amount"> ${{ p.valor | intcomma}} </div>
            </div>
        </div>
        {% endfor %}
        <!--
            <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="{% static 'image/product_02.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>alimento seco - perro</h3>
                <div class="amount"> $6000 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="{% static 'image/product_03.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>alimento seco - perro</h3>
                <div class="amount"> $6000 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="{% static 'image/product_04.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>alimento seco - perro</h3>
                <div class="amount"> $6000 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="{% static 'image/product_05.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>alimento seco - gato</h3>
                <div class="amount"> $6000 </div>
            </div>
        </div>

        <div class="box">
            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-eye"></a>
            </div>
            <div class="image">
                <img src="{% static 'image/product_06.jpg' %}" alt="">
            </div>
            <div class="content">
                <h3>alimento seco - perro</h3>
                <div class="amount"> $6000 </div>
            </div>
        </div>

    </div>

        -->
</section>
{% endblock %}